.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 182px;
    width: 462px;
    border-radius: 4px;
    margin: auto;
    border: 2px solid #e6d9d9;
    padding: 20px;
}

.top {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    margin-bottom: 12px;
}

.middle {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}
input {
    background: #E2E2E2;
    width: auto;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}