.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    border-radius: 5px;
    margin: auto;
    border: 2px solid #e6d9d9;
    padding: 20px;
}
