.element{
    display: flex;
    height: 45px;
    border: 1px solid #e6d9d9;
    font-size: 14px;
    font-weight: bold;
}
.tr{
    flex: 1;
    border-right: 1px solid #e6d9d9;
    border-left: 1px solid #e6d9d9;
    text-align: start;
    padding-top: 12px;
    padding-left: 20px;
}

.th, .btns {
    align-self: center;
    width: 200px;
}
.btns {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100px;
}
